.header{
    display: flex;
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0;
    background: #121921;
    color: #ecf8fc;
    z-index: 100;
}
.header img{
    /* height: 80%;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px; */
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header-search{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 24px;
    height: 50%;  
 
}
.header-search>input{
    height: 100%;
    padding: 10px;
    border: none;
    width: 100%;
    min-width: 100px;
}
.search-icon{
    height: 100% !important;
    width: 50px !important;
    min-width: 5px;
    color: #121921;
    background-color: #ffbd69;
    cursor: pointer;
    padding: 5px; 
    
}
.header-options{
    display: flex;
    flex-direction:column;
    margin: 0 10px;

}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-option-line-one{
    font-size: 10px;
}
.header-option-line-two{
    font-size: 13px;
    font-weight: 800;
}
.header-options-cart{
display: flex;
align-items: center;
 justify-content: space-around;
 
}
.header-cart-count{
    font-size: 1.1rem;
    color: #ffbd69;
    padding:0  10px;
     
 
}